html {
    background-color: rgb(148, 173, 255);
}


ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    color: black;
}

.weeklyCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.weatherCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    background-color: rgba(16, 18, 44, 0.644);
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
}

